* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

fieldset,
input,
textarea,
button {
  border: 0;
  margin: 0;
  padding: 0;
}
