body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 13px;
}

#header {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

#header .flex {
  display: flex;
  align-items: center;
  height: 100px;
}

#header .logo {
  width: 100px;
}

#header .container .logo .logo-img {
  width: 80px;
  height: 80px;
  background-color: #b28756;
  border-radius: 40px;
}

#header .menu {
  flex: 1;
  display: flex;
  justify-content: end;
}

#header .menu .menu-list {
  display: flex;
}

#header .menu .menu-list .menu-list-item a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 10px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #000;
  font-size: 13px;
}

#header .menu .menu-list .menu-list-item a:hover,
#header .menu .menu-list #active a {
  border-bottom: 5px solid #b28756;
  color: #ccc;
  transition: 0.4s;
}

.button {
  text-transform: uppercase;
  color: #fff;
  background-color: #b28756;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
}

#content .banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: bottom;
  /* serve para que tudo que passar dessa largura, desse elemento será ocultada */
  overflow: hidden;
}

#content .banner .sliders {
  height: 100%;
  width: 1000vw;
}

#content .banner .slide {
  height: 100%;
  width: 100vw;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

#content .banner .slide-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#content .banner .slide-area .slide-area-tittle {
  font-weight: 700;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}

#content .banner .slide-area .slide-area-tittle span {
  color: #b28756;
}

#content .banner .slide-area .slide-area-desc {
  margin: 20px 0 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

#content .banner .sliders-pointers,
.clients .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .banner .sliders-pointers .pointer,
.clients .sliders-pointers {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
}

#content .banner .sliders-pointers .active,
.clients .sliders-pointers .active {
  background-color: #b28756;
}

#content .default {
  padding: 50px 0;
}

#content .default .section-tittle,
#content .default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

#content .default .section-tittle {
  font-size: 20px;
}

#content .default .section-desc {
  font-size: 12px;
  color: #ccc;
  margin: 10px 0 40px;
}

#content .default .section-body {
  margin: auto;
  min-height: 100px;
}

#content .default.light {
  background-color: #f7f7f7;
}

#content .default.light .section-tittle,
#content .default.light .section-body {
  color: #000;
}

#content .default.dark {
  background-color: #000;
}

#content .default.dark .section-tittle,
#content .default.dark .section-body {
  color: #fff;
}

/* CSS de áreas específicas */
.section-aboutus {
  display: flex;
}

.section-aboutus--left {
  flex: 1;
}
.section-aboutus--left p {
  font-size: 14px;
  line-height: 25px;
}

.section-aboutus--right {
  width: 520px;
  text-align: center;
}

.section-aboutus--right img {
  width: 480px;
  box-shadow: 0 5px 10px #333;
}

.section-services {
  display: flex;
  align-items: center;
}

.section-service-item {
  flex: 1;
  text-align: center;
  border-right: 1px solid #333;
  padding: 15px;
}

.section-service-item:first-child {
  border-left: 1px solid #333;
}

.section-service-item h4 {
  font-size: 18px;
  margin-top: 20px;
  text-transform: uppercase;
}
.section-service-item p {
  margin-top: 10px;
  color: #999;
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--filters {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 30px;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border-left: 1px solid #ccc;
  color: #555;
  border-bottom: 3px solid #eee;
}
.section-projects--filters li:hover,
.section-projects--filters .active {
  border-bottom: 3px solid #b28756;
}

.section-projects--filters li:first-child {
  border-left: 0;
}

.section-projects--photos {
  max-width: 1140px;
  width: 100vw;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects--photos-item {
  width: 280px;
}

.projects--photos-area {
  width: 260px;
  height: 160px;
  margin: 10px;
}

.projects--photos-area img {
  width: inherit;
  height: inherit;
}

.photos-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.photos-info h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5px;
}

.projects--photos-area:hover .photos-info {
  display: flex;
  cursor: pointer;
}

#content .default.bg-team {
  padding: 0;
}

.bg-team {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}

#content .section-team {
  overflow: hidden;
  max-width: 880px;
  margin: 0 auto;
}

.section-team .sliders {
  height: 100%;
  width: 1000vw;
}

.section-team .slide {
  height: 100%;
  min-height: 300px;
  width: 280px;
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
}

.section-team .slide-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
  padding: 30px;
}

.section-team-area .sliders-pointers {
  height: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-team-area .sliders-pointers .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
}

.section-team-area .sliders-pointers .active {
  background-color: #b28756;
}

.section-team--avatar {
  width: 150px;
  height: auto;
}

.section-team--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}

.section-team--role {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

.section-team--social {
  display: flex;
  margin-top: 20px;
}

.section-team--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  background-color: #ccc;
  margin-right: 10px;
}

.section-team--social a:hover {
  background-color: #b28756;
}

#content .section-testimonials {
  overflow: hidden;
}

#content .section-body .section-testimonials .sliders {
  width: 1000vw;
  height: 100%;
}

.section-body .section-testimonials .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}

.section-body .section-testimonials .slide-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.section-body .section-testimonials--avatar {
  width: 100px;
}

.section-body .section-testimonials--name {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  margin-top: 30px;
}

.section-body .section-testimonials--role {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 8px 0 30px;
}

.section-body .section-testimonials--img {
  margin-bottom: 15px;
  width: 20px;
}
.section-body .section-testimonials--quote p {
  line-height: 1.5;
  color: #999;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.testimonials .sliders-pointers {
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.testimonials .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.testimonials .pointer.active {
  background-color: #b28756;
}

#content .companies {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.companies .section-body .section-companies--area {
  display: flex;
  align-items: center;
  height: 100px;
}

.section-companies--area .section-company {
  flex: 1;
  text-align: center;
}

.section-body .section-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-price .section-price--item {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  height: 345px;
  width: 260px;
  flex: 1;
  margin-right: 20px;
}

.section-price .section-price--item:last-child {
  margin-right: 0;
}

.section-price--item-name {
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
  line-height: 1;
}

.section-price--item-money {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.section-price--item-period {
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 1;
}

.section-price--item-list p {
  color: #555;
  line-height: 1;
  margin: 10px 0;
  font-size: 12px;
}

.section-price--item-list .line-bar {
  width: 15px;
  height: 1px;
  background-color: #555;
  display: block;
  margin: 0 auto;
}

.button--dark {
  margin-top: 20px;
  background-color: #000;
}
.button--dark:hover {
  background-color: #b28756;
}

.btn-premium {
  margin-top: 20px;
}
